nav {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  align-items: center;
  margin: 0 auto;
  height: 10vh;
}
#logo {
  /* width: 25%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#hamburger_icon {
  /* width: 27px;
  height: 27px; */
  /* background: blue; */
  /* background: url("../images/hamburger_icon.png"); */
}
#logo_img {
  width: 23%;
  z-index: 2;
  margin-right: -3px;
}
#media_h2 {
  /* margin-left: -3px; */
  margin-bottom: 2vh;
}
main {
  background: url("../images/We-run-all-your-marketing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position-y: -220px; */
  background-position-x: -158px;
  width: 100vw;
  height: 80vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
