#my_header {
  display: flex;
  width: 95vw;
  margin: 0 auto;
}
.desktop {
  a {
    text-decoration: none;
    color: rgba(0,0,0,.6);
    &:hover {
      text-decoration: none;
    }
  }
}

li {
  list-style-type: none;
}

.logo {
  margin-bottom: -4em;
   margin-top: -4em;
  transform: scale(1.2);
  cursor: pointer;
}

.MuiToolbar-root {
  justify-content: space-between !important;
}



@media screen and (min-width: 769px){
  .menu {
    display: none !important;
  }
}

@media screen and (max-width: 768px){
  .desktop {
    display: none !important;
  }
}