main {
  background: url("../assets/We-run-all-your-marketing.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /* background-position-y: -220px; */
  /* change this to around -358px for mobile */
  /* background-position-x: -158px; */
  width: 100vw;
  height: 70vh;
  border-radius: 0 0 85% 85% / 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
main div {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main p {
  margin-top: 10vh;
  font-family: "Asap Bold", Arial, Helvetica, sans-serif;
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 93.6px;
  color: #ffffff;
  word-wrap: break-word;
  /* width: 60%; */
  /* text-align: right; */
}
#services_provided {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
#what_weProvide {
  width: 25%;
}
#what_weProvide h1 {
  font-family: "Asap", sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 33px;
  text-align: left;
  color: #333333;
}
#my_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 70%;
}
.service {
  /* display: flex; */
  width: 50%;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: flex-start;
  margin-bottom: 4vh;
}
#business_statement {
  width: 80%;
  margin: 0 auto;
}
#business_statement h1 {
  font-family: "Asap", sans-serif;
  color: #828282;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 63px;
}
.service h4 {
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 26.4px;
  color: #858587;
}
.service_h4 {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.middle_icons {
  color: coral;
}
