main {
  background: url("../assets/We-run-all-your-marketing.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /* background-position-y: -220px; */
  /* change this to around -358px for mobile */
  /* background-position-x: -158px; */
  width: 100vw;
  height: 70vh;
  border-radius: 0 0 85% 85% / 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
main div {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main p {
  margin-top: 10vh;
  font-family: "Asap Bold", Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 93.6px;
  color: #ffffff;
  word-wrap: break-word;
  /* width: 70%; */
  text-align: left;
}
#services_provided {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
#what_weProvide {
  width: 25%;
}
#what_weProvide h1 {
  font-family: "Asap", sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 33px;
  text-align: left;
  color: #333333;
}
#my_services {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  width: 70%;
}
.service {
  /* display: flex; */
  width: 50%;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: flex-start;
  margin-bottom: 4vh;
}
#business_statement {
  width: 100%;
  margin: 0 auto;
  overflow-wrap: break-word;
}
#business_statement h1 {
  font-family: "Asap", sans-serif;
  color: #828282;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 63px;
  /* text-align: left; */
}
.service h4 {
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 26.4px;
  color: #858587;
}
.service_h4 {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.middle_icons {
  border: 2px solid red;
  border-radius: 50%;
  color: coral;
}
/* MEDIA QUERIES */
/* MEDIA QUERIES */
@media only screen and (max-width: 991px) and (min-width: 992px) {
  main p {
    font-size: 55px;
  }
}
@media only screen and (max-width: 991x) and (min-width: 601px) {
  main p {
    font-size: 55px;
    line-height: 63px;
  }
}
@media only screen and (max-width: 768px) {
  main {
    width: 100vw;
    background-position-x: -250px;
  }

  main div {
    width: 70%;
    justify-content: center;
    align-items: flex-start;
  }
  main p {
    text-align: left;
    /* font-size: 55px; */
    width: 100%;
    line-height: 58.6px;
  }
  #business_statement {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }
  #business_statement h1 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 43px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    background: url("../assets/We-run-all-your-marketing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    background-position-x: -100px;
    border-radius: 0 0 85% 85% / 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main div {
    /* width: 80%; */
  }
  #my_services {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }
  .service {
    width: 100%;
  }
  .service h4 {
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 31.4px;
    color: #858587;
  }
  main p {
    margin-top: 10vh;
    font-family: "Asap Bold", Arial, Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 53.6px;
    color: #ffffff;
    word-wrap: break-word;
    width: 60%;
    text-align: left;
  }
}
/* @media only screen and (max-width: 599x) and (min-width: 501px) {
  main div {
    width: 100%;
  }
  main p {
    width: 70vw;
  }
} */
@media only screen and (max-width: 500px) {
  main {
    width: 100vw;
    background-position-x: -200px;
  }
  main div {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10vh;
  }
  main p {
    text-align: left;
    font-size: 40px;
    line-height: 45.6px;
  }
}
@media only screen and (max-width: 430px) {
  main {
    width: 100vw;
    background-position-x: -250px;
  }
  main p {
    text-align: left;
    font-size: 35px;
    width: 100%;
    line-height: 40.6px;
  }
}
/* @media only screen and (max-width: 599x) and (min-width: 501px) {
  main div {
    width: 100vw;
    background: blue;
    padding: 10px;
  }
  main p {
    width: 100%;
    font-size: 30px;
  }
} */
/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 800px) {
  main p {
    font-size: 55px;
  }
}
@media only screen and (min-width: 992px) {
  main {
    width: 100vw;
    background-position-x: -200px;
  }
  main div {
    width: 70%;
    justify-content: center;
    align-items: flex-start;
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
