/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

/* This is the piece of code to get react-slick to be working normal */
.slick-list {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 5vh;
}
.slick-arrow {
  color: red;
}
.slick-prev {
  left: 70px;
}
.slick-next {
  right: 70px;
}
.slick-prev::before,
.slick-next::before {
  z-index: 2;
  color: red;
}
/* END */
.carousel_items {
  display: flex;
  justify-content: space-evenly;
}
.carousel_items img {
  object-fit: contain;
  width: 25%;
  border-radius: 50%;
}
.items {
  display: flex;
}
.items p {
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 26.4px;
  color: #858587;
}
/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slick-list {
    width: 91vw;
  }
  .slick-prev {
    left: 2px;
  }
  .slick-next {
    right: 7px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
