#what {
  margin-top: 8vh;
  /* background: url("../assets/alex-iby-HfR0W6HW_Cw-unsplash.jpg"); */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%,black 100%),
    url("../../src/assets/bright_idea.jpg");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #e2231a;
}

#what_we_do {
  margin: 0 auto;
  width: 80%;
}
#what_we_do h1 {
  text-align: center;
  font-family: "Asap", sans-serif;
  font-size: 65px;
  letter-spacing: 1px;
  line-height: 119px;
  color: #e2231a;
  width: 100%;
  margin: 0 auto;
  margin-top: 5vh;
}
.technique {
  margin: 0 auto;
  width: 85vw;
  display: flex;
}
.word_side,
.picture_side {
  width: 50%;
}
.word_side {
  padding: 2vh;
}
.picture_side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture_side img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.technique_description {
  font-family: "Asap", sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 65px;
  text-align: left;
  color: #333333;
  text-decoration: underline;
  text-decoration-color: red;
}
.word_side p {
  /* font-family: Lato, */
  font-size: 28px;
  font-weight: 500;
  line-height: 53.2px;
  text-align: left;
  color: #666666;
}
.word_side h3 {
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  color: #e2231a;
  /* height: 50px; */
  border: 2px solid #e2231a;
  padding: 6px 20px;
  display: inline;
}
.word_side a:hover {
  text-decoration-line: none;
}
.work_statements {
  font-family: "Asap", sans-serif;
  color: #828282;
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 63px;
  margin-top: 2vh;
}
hr {
  color: #f00;
  background-color: #828282;
  height: 5px;
  border: 3vh solid yellow;
}
#tech_stack {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 85vw;
  flex-wrap: wrap;
  margin: 0 auto;
}
.tech {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 2vw;
}
.tech img {
  /* width: 300px; */
  width: 100%;

  height: 300px;
}
.tech p {
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 26.4px;
  color: #858587;
}
/* MEDIA QUERIES */
/* (max-width:400px) and (min-width:900px) { */
  @media only screen and (max-width:800px) and (min-width:769px){
    .work_statements {
      width: 30px;
      /* text-overflow: wrap; */
      width: 90%;
    margin: 0 auto;
    }

    .tech {
      /* width: 100vw; */
      width: 35%;
    }
    .tech img {
      width: 100%;
    }
    #connect {
      max-width: 70%;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 768px) and (min-width:501px){
    #what {
      height: 90vh;
    }
    #what_we_do h1 {
      /* margin-top: 15vh; */
      font-size: 45px;
      line-height: 43px;
    }
    #working {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .work_statements {
      width: 90%;
    margin: 0 auto;
      font-size: 35px;
      text-align: center;
    }
    .technique {
      flex-direction: column;
      width: 100vw;
    }
    #tech_stack {
      width: 100vw;
    }
    .word_side, .picture_side {
      margin: 0 auto;
      width: 90%;
    }
  
    .tech {
      /* width: 100vw; */
      width: 35%;
    }
    .tech img {
      width: 100%;
  
    }
    #connect {
      font-size: 50px;
      line-height: 60px;
    }
  }
@media only screen and (max-width: 500px) and (min-width:321px){
  #what {
    height: 90vh;
  }
  #what_we_do h1 {
    text-align: center;    
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 45px;
    margin-top: 15vh;
    color: #e2231a;
  }
  #working {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work_statements {
    width: 90%;
    margin: 0 auto;
    font-size: 35px;
    text-align: left;
    line-height: 40px;
  }
  .technique {
    flex-direction: column;
    width: 100vw;
  }
  .word_side, .picture_side {
    margin: 0 auto;
    width: 90%;
  }
  #tech_stack {
    width: 100vw;
    flex-direction: column;
  }
  .tech {
    width: 100%;
  }
  .technique_description {
    font-size: 35px;
    line-height: 55px;
  }
  .word_side p {
    font-size: 22px;
  font-weight: 700;
  line-height: 33.2px;
  word-wrap: wrap;
  width: 90%;
  }
}
@media only screen and (max-width: 320px){
  #what {
    height: 90vh;
  }
  #what_we_do h1 {
    margin-top: 15vh;
    font-size: 30px;
    line-height: 38px;
  }
  #working {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work_statements {
    font-size: 35px;
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }
  .technique {
    flex-direction: column;
    width: 100vw;
  }
  .word_side, .picture_side {
    margin: 0 auto;
    width: 90%;
  }
  #tech_stack {
    width: 100vw;
    flex-direction: column;
  }
  .tech {
    width: 100%;
  }
  .technique_description {
    font-size: 35px;
    line-height: 55px;
  }
  .word_side p {
    font-size: 22px;
  font-weight: 700;
  line-height: 33.2px;
  word-wrap: wrap;
  width: 90%;
  }
  #connect {
    font-size: 45px;
    line-height: 40px;
  }
}

