#contact-main{
    margin-top: 50px;
}

#first-section{
    border: 1px solid red;
    height: 95vh;
    background-image: linear-gradient(180deg,rgba(255,255,255,0.5) 0%,#ffffff 100%),url(https://www.boralagency.com/wp-content/uploads/2019/04/Contact-Boral-Agency.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#first-section h1 {
    margin-top: 200px;
    font-family: 'Asap',sans-serif!important;
    font-size: 50px;
    line-height: 1.4em;
}

#first-section h3 {
    font-family: 'Asap',sans-serif!important;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-size: 22px;
}

#second-section{
    border: 1px solid blue;  
}

#second-section h3{
    font-family: 'Asap',sans-serif!important;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-size: 22px;
    margin-top: 22px;
}

#second-section button {
    margin: 30px 0;
    color: #ffffff!important;
    border-color: rgba(0,0,0,0);
    border-radius: 100px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Asap',Helvetica,Arial,Lucida,sans-serif!important;
    text-transform: uppercase!important;
    background-color: #e2231a;
}

#third-section{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    align-items: flex-start;
    border:1px solid black;
    margin: 20px auto;
   

}

#left-column{
    text-align: left
}