.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#testing {
  background: blue;
  height: 85vh;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  width: 100vw;
  margin: 0 auto;
}
