.footer {
  height: 10em;
  width: 100%;
  background: #222222;
  color: white;
  .social {
    background: #171717;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    .content {
      display: flex;
    }
  }
  a {
    color: white;
  }
}