.footer {
  height: 20em;
  width: 100%;
  background: #222222;
  color: white;
  .social {
    position: relative;
    bottom: 0;
    z-index: 2;
    background: #171717;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    flex-wrap: wrap;
    .content {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 19px;
      line-height: 34.2px;
      letter-spacing: normal;
      flex-wrap: wrap;
      .copyright {
  color: #666666;
        font-weight: 400;
}
      .large {
        color: #666666;
        font-weight: 600;
      }
      .pipe {
        color: #666666;
        transform: scale(1.3);
        padding-left: .5em;
        padding-right: .5em;
        font-weight: 200;
      }
    }
    .icons {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-wrap: wrap;
      a {
        padding-left: 2em;
      }
    }
  }
  a {
    color: white;
  }
  .contact {
     text-align: left;
    letter-spacing: normal;
    h3 {
      font-size: 18px;
      letter-spacing: 1px;
      color: #e2231a;
      font-weight: 600;


    }
    .paragraph {
        font-size: 19px;
        text-align: left;
      }
  }
  .article {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 4em;
    padding-bottom: 4em;



  }
}

